on: pull_request

jobs:
  all-status-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - test-check
      - lint-check
      - ci-req-check
      - renovate-dry-run
    steps:
      - name: All status check
        run: echo "All status checks passed"

  test-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: shiron-dev/actions/setup-node@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
      - name: Install package
        run: pnpm install --frozen-lockfile
      - name: Test
        run: pnpm test

  lint-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: shiron-dev/actions/setup-node@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
      - name: Install package
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm lint

  ci-req-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/ci.yml)

  renovate-dry-run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: shiron-dev/actions/setup-node@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
      - name: Dry-run Renovate
        id: renovate-dry-run
        run: |
          set +e
          RENOVATE_LOG=$(pnpx renovate --dry-run=full --require-config=ignored --platform=local)
          EXIT_CODE=$?
          echo "$RENOVATE_LOG"
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "log<<$EOF"
            echo "$RENOVATE_LOG"
            echo "$EOF"
          } >> "$GITHUB_OUTPUT"
          exit $EXIT_CODE
        env:
          LOG_LEVEL: debug
          LOG_FORMAT: json
          RENOVATE_BASE_BRANCHES: ${{ github.head_ref }}
          RENOVATE_CONFIG_FILE: default.json
      - name: Check deps
        id: check-deps
        run: |
          DEP_OUT=$( echo '${{ steps.renovate-dry-run.outputs.log }}'\
            | jq --raw-output '
              select(.msg == "packageFiles with updates") |
              .config |
              to_entries |
              group_by(.key) |
              map({
                key: .[0].key,
                files: map(.value) | flatten
              }) |
              map({
                key,
                files: .files | map({
                  packageFile,
                  deps: .deps | map({
                    depName,
                    currentValue,
                    currentDigest
                  })
                })
              })
            ' )
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "comment<<$EOF"
            echo "$DEP_OUT" | jq -r '
              .[] |
              "<details><summary>\(.key)</summary><blockquote>\n" +
              (.files | map(
                "<details><summary>\(.packageFile)</summary>\n\n" +
                (.deps | map(if .currentDigest then " - `\(.depName) \(.currentValue)@\(.currentDigest)`" else " - `\(.depName) \(.currentValue)`" end) | join("\n")) +
                "\n</details>"
              ) | join("\n\n") ) +
              "\n</blockquote></details>"
              '
            echo "$EOF"
          } >> "$GITHUB_OUTPUT"
      - uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        if: ${{ steps.check-deps.outputs.comment != '' }}
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
          header: deps-check
          message: |
            ## Renovate dry-run detected dependencies
            ${{ steps.check-deps.outputs.comment }}
